aiocron
pymongo[srv]==4.3.3
pyrofork
TgCrypto-pyrofork
pillow
flask==3.0.0
werkzeug==3.0.1
gunicorn==20.1.0
pyrogram
tgcrypto
asyncpg
matplotlib
httpx
requests
GitPython
aiocron
asyncpg
flask
GitPython
gunicorn
httpx
matplotlib
pillow
pymongo[srv]
pyrofork
requests
TgCrypto-pyrofork
werkzeug
